body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/vancouver.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 200px 0;
  line-height: 1.5;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 200;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background-color: white;
  padding: 16px 32px;
  text-transform: uppercase;
  color: #272044;
  text-decoration: none;
  font-weight: 700;
  margin-top: 30px;
  display: inline-block;
  letter-spacing: 5px;
  font-size: 14px;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 30%;
  color: #272044;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

main h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: #272044;
  padding: 0;
  margin: 0;
}

main p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #272044;
  opacity: 70%;
  margin: 0;
}

.responsive-img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 70px;
  padding: 20px 50px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 50px 0;
}

.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  background: white;
  margin: 30px 0;
}
section {
  max-width: 100%;
  display: 0 auto;
  padding: 100px;
}

.card-header {
  padding: 30px;
}

.card-body {
  padding: 0;
  margin: 0;
}

.secondary {
  background-color: #f8f8f8;
}
.text-center {
  text-align: center;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: white;
  background-color: #462cb2;
  padding: 16px 42px;
  text-decoration: none;
  display: block;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/vancouver-footer.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 60%;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 60%;
}

footer a:hover {
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0px;
  }
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
}
